body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: auto;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.headerbox {
    height: 180px;
    background: linear-gradient(230deg, #ccd0cf, #9ba8ab, #4a5c6a, #253745, #11212d, #06141b);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.axis-logo img {
    width: auto;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}

.nav-bar {
    height: 60px;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    background-color: rgba(32, 43, 43, 0.39);
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.jobs {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(94, 109, 109, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(94, 109, 109, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(94, 109, 109, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(94, 109, 109, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
}

.updates {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(94, 109, 109, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
}



.footerbox {
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #2c3e50, #bdc3c7, #2c3e50);
}

.logo img {
    width: auto;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}

.socials {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
}

.tiktok img {
    width: auto;
    height: 50px;
    border-radius: 50%;
}

.insta img {
    width: auto;
    height: 50px;
    border-radius: 50%;
}

.youtube img {
    width: 60px;
    height: auto;
    border-radius: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
    margin: 10px;
    border-radius: 20px;
    background: rgba(250, 255, 255, 0.171);
}

.num {
    color: #fff;
}

.dev {
    font-size: 22px;
    font-weight: bold;
}

.copy {
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 15px;
    background-color: #3e3636;
    color: #fff;
}

.version {
    font-size: 20px;
    color: #bdc3c7;
}

@media (max-width: 768px) {

    .container {
        width: 768px;
        margin: none;
    }

    .axis-logo img {
        width: auto;
        height: 80px;
    }

    .nav-bar {
        width: 566px;
    }

    .jobs {
        width: 100px;
        font-size: 20px;
    }

    .brand {
        width: 100px;
        font-size: 20px;
    }

    .home {
        width: 100px;
        font-size: 20px;
    }

    .extras {
        width: 100px;
        font-size: 20px;
    }

    .updates {
        width: 100px;
        font-size: 20px;
    }

    .copy {
        width: 768px;
    }

}

@media (max-width: 360px) {

    .container {
        width: 320px;
        margin: 0px;
    }

    .headerbox {
        height: 120px;
    }

    .axis-logo img {
        width: auto;
        height: 60px;
        margin: 2.5px;
        margin-top: 10px;
    }

    .nav-bar {
        width: 240px;
        gap: 5px;
        margin: 0;
        margin-top: 10px;
    }

    .jobs {
        width: 60px;
        font-size: 12px;
        border-radius: 10px;
    }

    .brand {
        width: 60px;
        font-size: 12px;
        border-radius: 10px;
    }

    .home {
        width: 60px;
        font-size: 12px;
        border-radius: 10px;
    }

    .extras {
        width: 60px;
        font-size: 12px;
        border-radius: 10px;
    }

    .updates {
        width: 60px;
        font-size: 12px;
        border-radius: 10px;
    }

    .logo img {
        width: auto;
        height: 60px;
    }

    .socials {
        height: 30px;
    }

    .tiktok img {
        width: auto;
        height: 25px;
    }

    .insta img {
        width: auto;
        height: 25px;
    }

    .youtube img {
        height: auto;
        width: 35px;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 305px;
        font-size: 8px;
        gap: 5px;
        margin: 0;
    }

    .dev {
        font-size: 12px;
    }

    .copy {
        width: 320px;
        font-size: 12px;
    }

}